.accordion-demo .accordion-custom i, .accordion-demo .accordion-custom span {
    vertical-align: middle;
};

.accordion-demo .accordion-custom span {
    margin: 0 .5rem;
};

.accordion-demo .p-accordion p {
    line-height: 1.5;
    margin: 0;
};

/* Form.css */

.form-demo .card {
    min-width: 450px;
}
.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 80%;
        min-width: 20px;
    }
}
             